<html>

<head>
    <script src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/angular1.1.1.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="./js/bootstrap.min.js"></script>
    <link href="index.css" rel="stylesheet" id="inline-css">
</head>

<body ng-app="myApp">

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Damn Vulnerable Web Services<br> File Storage</h2>
            <p>Files can be uploaded to dvws.</p>
            <br>
            <a href="home.html" class="btn btn-secondary">Back to Home</a>
            <p></p>
        </div>
    </div>
    <div class="main">

        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <h2>File Storage</h2>
                <p>Files can be uploaded to dvws.</p>
                <br>
                <div ng-controller="MyController2">
                <p>User Uploaded Files</p>
                <p>URLs to your saved files is displayed below</p>
                <br>
                <table border=1>
                    <thead>
                        <tr>
                            <th>Uploaded Files</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in itemsDetails">
                        <td> {{item.name}} </td>
                    </tr>
                </table>

                <br>
                <br>
                <br>
                </div>


                <div ng-controller="myCtrl">

                    <div style="width: 150%;">
                        <div style="width: 50%; height: 100px; float: left;"> 
                            <b>Upload File</b><br>
                            Select File
                            <input type="file" file-model="myFile" />
                            <button ng-click="uploadFile()">Upload</button>
                        </div>
                        <div style="margin-left: 50%; height: 100px;"> 
                            <b>Download File</b><br>
                            Filename: 
                            <input type="text" name="name" ng-model="name" placeholder="File Name"> 
                            <button ng-click="downloadFile()">Download</button>
                        </div>

                    <br>
                    <br>
                    {{ DataResponse }}


                </div>

            </div>

        </div>
    </div>

    </div>

    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        var returndict = [];
        myApp.directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);

        
        myApp.service('fileUpload', ['$http', function ($http) {
            this.uploadFileToUrl = function (file, uploadUrl,$scope) {
                var fd = new FormData();
                fd.append('file', file);
                $http.post(uploadUrl, fd, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined, 'Authorization': 'Bearer ' + localStorage.getItem('JWTSessionID') },
                })
                    .success(function (data, status) {
                        $scope.DataResponse = data;
                    })
                    .error(function (data, status) {
                        $scope.DataResponse = data;
                    });
            }


       

        }]);

        myApp.controller('myCtrl', ['$scope', 'fileUpload','$http', function ($scope, fileUpload,$http) {
            $scope.uploadFile = function () {
                var file = $scope.myFile;
                var uploadUrl = "/api/upload";
                fileUpload.uploadFileToUrl(file, uploadUrl,$scope);

            };

            $scope.downloadFile = function () {
            var post = $http({
                method: "POST",
                url: "/api/download",
                dataType: 'json',
                data: { filename: $scope.name },
                headers: { "Content-Type": "application/json" },
                headers: {'Authorization': 'Bearer ' + localStorage.getItem('JWTSessionID') }
            });
 
            post.success(function (data, status) {
                $scope.DataResponse = data;

            });
 
            post.error(function (data, status) {
                $scope.DataResponse = data.errors;
            });
        }  


        }]);

        myApp.controller('MyController2', function ($scope, $http, $window) {
            getFromServer();
            function getFromServer() {
                var get = $http({
                    method: "GET",
                    url: "/api/upload",
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" },
                    headers: {'Authorization': 'Bearer ' + localStorage.getItem('JWTSessionID') }
    
                });

                get.success(function (data, status) {
                    data.forEach(createLink);


                    
                    $scope.itemsDetails = returndict;
                });
     
                get.error(function (data, status) {
                    $scope.itemsDetails = "No Files Uploaded";
                });
            
                function createLink(value, index, array) {
                var dict = {};
                //var link = value;
                dict["name"] = value 
                //dict["link"] = link2
                returndict.push(dict);
                }



            }


    
    });


  


    </script>



</body>

</html>
